
 .MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	}
.MsoToc1
	{margin:0cm;
	margin-bottom:.0001pt;tab-stops:22.0pt right dotted 414.8pt;
	}
.MsoToc2
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:5.0pt;
	margin-left:11.0pt;
	line-height:115%;
	}
.MsoToc3
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:5.0pt;
	margin-left:22.0pt;
	line-height:115%;
	}
.MsoHeader
	{margin:0cm;
	margin-bottom:.0001pt;tab-stops:center 207.65pt right 415.3pt;
	layout-grid-mode:char;
	}
.MsoFooter
	{margin:0cm;
	margin-bottom:.0001pt;tab-stops:center 207.65pt right 415.3pt;
	layout-grid-mode:char;
	}
.MsoTitle
	{margin:0cm;
	margin-bottom:.0001pt;font-weight:bold;}
.MsoSubtitle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-align:center;
	font-style:italic;}
a:link, .MsoHyperlink
	{color:blue;text-decoration:underline;
	text-underline:single;}
a:visited, .MsoHyperlinkFollowed
	{color:purple;text-decoration:underline;
	text-underline:single;}
.MsoDocumentMap
	{margin:0cm;
	margin-bottom:.0001pt;
	}
.MsoAcetate
	{margin:0cm;
	margin-bottom:.0001pt;
	}
.MsoNoSpacing
	{margin:0cm;
	margin-bottom:.0001pt;
	}
.MsoListParagraph
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:24.0pt;
	margin-bottom:.0001pt;
	}
.MsoTocHeading
	{margin-top:24.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	line-height:115%;page-break-after:avoid;
	color:#365F91;font-weight:bold;}
.a0
	{font-weight:bold;}
.21
	{margin:0cm;
	margin-bottom:.0001pt;
	line-height:300%;page-break-after:avoid;font-weight:bold;}
.2
	{font-weight:bold;}
.a1
	{margin:0cm;
	margin-bottom:.0001pt;
	line-height:300%;page-break-after:avoid;font-weight:bold;}
.1
	{font-weight:bold;}
.210
	{font-weight:bold;}
.211
	{font-weight:bold;}
.a2
	{font-weight:bold;}
.a3
	{font-style:italic;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:113.8pt 90.0pt 72.0pt 90.0pt;layout-grid:18.0pt;}
.WordSection1
	{page:WordSection1;}
@list l0:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;
	}
@list l0:level2
	{margin-left:24.0pt;
	text-indent:-24.0pt;}
@list l0:level3
	{margin-left:36.0pt;
	text-indent:-36.0pt;}
@list l0:level4
	{margin-left:36.0pt;
	text-indent:-36.0pt;}
@list l0:level5
	{margin-left:54.0pt;
	text-indent:-54.0pt;}
@list l0:level6
	{margin-left:54.0pt;
	text-indent:-54.0pt;}
@list l0:level7
	{margin-left:72.0pt;
	text-indent:-72.0pt;}
@list l0:level8
	{margin-left:72.0pt;
	text-indent:-72.0pt;}
@list l0:level9
	{margin-left:90.0pt;
	text-indent:-90.0pt;}
@list l1:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l1:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l2:level1
	{margin-left:60.0pt;
	text-indent:-24.0pt;
	}
@list l3:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;
	}
@list l4:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;font-family:Wingdings;}
@list l4:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l4:level3
	{margin-left:72.0pt;
	text-indent:-24.0pt;
	font-family:Wingdings;}
@list l4:level4
	{margin-left:96.0pt;
	text-indent:-24.0pt;}
@list l4:level5
	{margin-left:120.0pt;
	text-indent:-24.0pt;
	font-family:Wingdings;}
@list l5:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;}
@list l6:level1
	{margin-left:62.2pt;
	text-indent:-24.0pt;
	}
@list l7:level1
	{margin-left:48.0pt;
	text-indent:-24.0pt;
	}
@list l8:level1
	{margin-left:60.0pt;
	text-indent:-24.0pt;
	}
@list l9:level1
	{margin-left:34.0pt;
	text-indent:-34.0pt;}
@list l10:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l10:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l11:level1
	{margin-left:62.2pt;
	text-indent:-24.0pt;
	}
@list l12:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l12:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l13:level1
	{margin-left:21.25pt;
	text-indent:-7.05pt;}
@list l13:level2
	{margin-left:49.6pt;
	text-indent:-35.4pt;}
@list l13:level3
	{margin-left:70.9pt;
	text-indent:-1.0cm;}
@list l13:level4
	{margin-left:99.2pt;
	text-indent:-35.4pt;}
@list l13:level5
	{margin-left:127.55pt;
	text-indent:-42.5pt;}
@list l13:level6
	{margin-left:163.0pt;
	text-indent:-2.0cm;}
@list l13:level7
	{margin-left:191.35pt;
	text-indent:-63.8pt;}
@list l13:level8
	{margin-left:219.7pt;
	text-indent:-70.9pt;}
@list l13:level9
	{margin-left:255.1pt;
	text-indent:-85.0pt;}
@list l14:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l14:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l15:level1
	{margin-left:58.0pt;
	text-indent:-24.0pt;
	}
@list l16:level1
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l17:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l17:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l18:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;
	}
@list l18:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;
	}
@list l19:level1
	{margin-left:62.2pt;
	text-indent:-24.0pt;
	}
@list l20:level1
	{margin-left:33.8pt;
	text-indent:-33.8pt;}
@list l21:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;}
@list l22:level1
	{margin-left:34.0pt;
	text-indent:-34.0pt;}
@list l23:level1
	{margin-left:60.0pt;
	text-indent:-24.0pt;
	}
@list l24:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;font-family:Wingdings;}
@list l24:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;
	font-family:Wingdings;
	color:windowtext;}
@list l24:level3
	{margin-left:72.0pt;
	text-indent:-24.0pt;}
@list l24:level4
	{margin-left:96.0pt;
	text-indent:-24.0pt;
	font-family:Wingdings;}
@list l25:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;}
@list l26:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l26:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l27:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;
	}
@list l28:level1
	{margin-left:48.0pt;
	text-indent:-24.0pt;
	}
@list l28:level2
	{text-indent:-24.0pt;
	}
@list l28:level3
	{margin-left:96.0pt;
	text-indent:-24.0pt;
	font-family:Wingdings;}
@list l29:level1
	{margin-left:21.25pt;
	text-indent:-7.05pt;}
@list l29:level2
	{margin-left:49.6pt;
	text-indent:-35.4pt;}
@list l29:level3
	{margin-left:70.9pt;
	text-indent:-1.0cm;}
@list l29:level4
	{margin-left:99.2pt;
	text-indent:-35.4pt;}
@list l29:level5
	{margin-left:127.55pt;
	text-indent:-42.5pt;}
@list l29:level6
	{margin-left:163.0pt;
	text-indent:-2.0cm;}
@list l29:level7
	{margin-left:191.35pt;
	text-indent:-63.8pt;}
@list l29:level8
	{margin-left:219.7pt;
	text-indent:-70.9pt;}
@list l29:level9
	{margin-left:255.1pt;
	text-indent:-85.0pt;}
@list l30:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;
	}
@list l30:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;
	}
@list l31:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l31:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l32:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;
	color:black;}
@list l32:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l33:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l33:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l34:level1
	{margin-left:34.0pt;
	text-indent:-34.0pt;}
@list l35:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l35:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l36:level1
	{margin-left:21.25pt;
	text-indent:-7.05pt;}
@list l36:level2
	{margin-left:49.6pt;
	text-indent:-35.4pt;}
@list l36:level3
	{margin-left:70.9pt;
	text-indent:-1.0cm;}
@list l36:level4
	{margin-left:99.2pt;
	text-indent:-35.4pt;}
@list l36:level5
	{margin-left:127.55pt;
	text-indent:-42.5pt;}
@list l36:level6
	{margin-left:163.0pt;
	text-indent:-2.0cm;}
@list l36:level7
	{margin-left:191.35pt;
	text-indent:-63.8pt;}
@list l36:level8
	{margin-left:219.7pt;
	text-indent:-70.9pt;}
@list l36:level9
	{margin-left:255.1pt;
	text-indent:-85.0pt;}
@list l37:level1
	{margin-left:18.0pt;
	text-indent:-18.0pt;}
@list l37:level2
	{margin-left:0cm;
	text-indent:0cm;}
@list l37:level3
	{margin-left:0cm;
	text-indent:0cm;}
@list l37:level4
	{margin-left:0cm;
	text-indent:0cm;}
@list l37:level5
	{margin-left:0cm;
	text-indent:0cm;}
@list l37:level6
	{margin-left:0cm;
	text-indent:0cm;}
@list l37:level7
	{margin-left:0cm;
	text-indent:0cm;}
@list l37:level8
	{margin-left:0cm;
	text-indent:0cm;}
@list l37:level9
	{margin-left:0cm;
	text-indent:0cm;}
@list l38:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;
	}
@list l39:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l39:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l40:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;}
@list l41:level1
	{margin-left:34.0pt;
	text-indent:-34.0pt;}
@list l42:level1
	{margin-left:24.0pt;
	text-indent:-24.0pt;}
@list l42:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
@list l42:level3
	{margin-left:72.0pt;
	text-indent:-24.0pt;}
@list l42:level4
	{margin-left:96.0pt;
	text-indent:-24.0pt;font-family:Wingdings;}
@list l42:level5
	{margin-left:120.0pt;
	text-indent:-24.0pt;
	font-family:Wingdings;}
@list l43:level1
	{margin-left:60.0pt;
	text-indent:-24.0pt;
	}
@list l44:level1
	{margin-left:1.0cm;
	text-indent:-1.0cm;}
@list l44:level2
	{margin-left:48.0pt;
	text-indent:-24.0pt;}
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
.s2{line-height:150%}
.s4{margin-left:0cm;line-height:150%}
.s5{line-height:150%}
.s6{line-height:150%;color:#43403F;background:white}
.s7{line-height:150%;color:#43403F;background:white}
.s8{margin-left:24.0pt;text-indent:-24.0pt;line-height:150%}
.s9{font:7.0pt "Times New Roman"}
.s10{margin-left:24.0pt;line-height:150%}
.s11{margin-left:24.0pt;text-indent:-24.0pt}
.s12{margin-left:21.25pt;text-indent:-7.05pt;line-height:150%}
.s13{position:relative;z-index:-1}
.s14{position:absolute;left:-122px;top:-58px;width:798px;height:1128px}
.s15{layout-grid:18.0pt}
.s16{padding-top:0cm;padding-right:0cm;padding-bottom:0cm;padding-left:0cm}
.s18{margin-left:24.0pt}
.s19{margin-top:3.6pt;margin-right:0cm;margin-bottom:3.6pt;margin-left:24.0pt;text-indent:-24.0pt;line-height:150%}
.s20{color:windowtext;text-decoration:none;text-underline:none}
.s21{margin-top:3.6pt;margin-right:0cm;margin-bottom:3.6pt;margin-left:24.0pt;line-height:150%}
.s22{margin-left:49.6pt;text-indent:-35.4pt}
.s24{margin-left:4.3pt;line-height:150%}
.s25{margin-left:1.0cm;line-height:150%}
.s26{line-height:150%;color:black}
.s27{line-height:150%;color:black}
.s28{margin-top:3.6pt;margin-right:0cm;margin-bottom:3.6pt;margin-left:24.0pt}
.s29{color:red}
.s30{color:red}
.s31{margin-top:3.6pt;margin-right:0cm;margin-bottom:3.6pt;margin-left:0cm;line-height:150%}
.s32{line-height:150%;}
.s33{page-break-before:always}
.s34{margin-left:34.0pt;text-indent:-34.0pt;line-height:150%}
.s35{margin-left:34.0pt;line-height:150%}
.s36{margin-left:48.0pt;text-indent:-24.0pt;line-height:150%}
.s37{margin-left:48.0pt;line-height:150%}
.s38{width:385.25pt;margin-left:52.85pt;border-collapse:collapse;border:none}
.s39{height:22.9pt}
.s40{width:70.9pt;border:solid windowtext 1.0pt;background:#DBE5F1;padding:0cm 5.4pt 0cm 5.4pt;height:22.9pt}
.s41{margin-left:0cm;text-align:center;line-height:150%}
.s42{width:314.35pt;border:solid windowtext 1.0pt;border-left:none;background:#DBE5F1;padding:0cm 5.4pt 0cm 5.4pt;height:22.9pt}
.s43{width:70.9pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt}
.s44{width:314.35pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt}
.s45{margin-left:45.95pt;line-height:150%}
.s46{width:120.5pt;border:solid windowtext 1.0pt;background:#DBE5F1;padding:0cm 5.4pt 0cm 5.4pt}
.s47{width:264.75pt;border:solid windowtext 1.0pt;border-left:none;background:#DBE5F1;padding:0cm 5.4pt 0cm 5.4pt}
.s48{width:120.5pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt}
.s49{width:264.75pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt}
.s50{margin-left:24.0pt;text-align:justify;text-justify:inter-ideograph;line-height:150%}
.s51{margin-left:36.0pt;line-height:150%}
.s52{margin-left:12.0pt;text-align:center;line-height:150%}
.s53{margin-left:58.0pt;text-indent:-24.0pt;line-height:150%}
.s54{color:red}
.s55{color:red}
.s56{margin-left:60.0pt;text-indent:-24.0pt;line-height:150%}
.s57{margin-left:60.0pt;line-height:150%}
.s58{width:410.7pt;margin-left:40.85pt;border-collapse:collapse;border:none}
.s59{height:20.5pt}
.s60{width:110.5pt;border:solid windowtext 1.0pt;background:#DBE5F1;padding:0cm 5.4pt 0cm 5.4pt;height:20.5pt}
.s61{text-align:center;line-height:150%}
.s62{width:300.2pt;border:solid windowtext 1.0pt;border-left:none;background:#DBE5F1;padding:0cm 5.4pt 0cm 5.4pt;height:20.5pt}
.s63{width:110.5pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt}
.s64{line-height:115%}
.s65{width:300.2pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt}
.s67{margin-left:1.0cm;text-indent:-1.0cm;line-height:150%}
.s68{color:black}
.s69{margin-top:6.0pt;margin-right:10.2pt;margin-bottom:6.0pt;margin-left:24.0pt;text-align:justify;text-justify:inter-ideograph;line-height:115%}
.s70{margin-left:24.0pt;border-collapse:collapse}
.s71{height:13.55pt}
.s72{width:83.0pt;border:solid black 1.0pt;background:#9ED3D7;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:13.55pt}
.s73{text-align:center}
.s74{color:black}
.s75{color:black}
.s77{width:169.55pt;border:solid black 1.0pt;border-left:none;background:#9ED3D7;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:13.55pt}
.s78{width:155.9pt;border:solid black 1.0pt;border-left:none;background:#9ED3D7;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:13.55pt}
.s79{height:19.85pt}
.s80{width:83.0pt;border:solid black 1.0pt;border-top:none;background:white;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:19.85pt}
.s81{width:169.55pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;background:white;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:19.85pt}
.s82{width:155.9pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;background:white;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:19.85pt}
.s83{width:83.0pt;border:solid black 1.0pt;border-top:none;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:19.85pt}
.s84{width:169.55pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:19.85pt}
.s85{width:155.9pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:19.85pt}
.s86{margin-left:72.0pt;text-indent:-24.0pt;line-height:150%}
.s88{margin-left:72.0pt;line-height:150%}
.s89{margin-left:96.0pt;line-height:150%}
.s90{line-height:200%}
.s92{margin-left:28.3pt;line-height:150%}
.s93{position:absolute;z-index:1;left:0px;margin-left:475px;margin-top:72px;width:167px;height:67px}
.s94{position:absolute;z-index:3;left:0px;margin-left:475px;margin-top:139px;width:127px;height:67px}
.s95{position:absolute;z-index:6;left:0px;margin-left:318px;margin-top:235px;width:161px;height:24px}
.s96{position:absolute;z-index:5;left:0px;margin-left:475px;margin-top:228px;width:107px;height:46px}
.s97{position:absolute;z-index:4;left:0px;margin-left:367px;margin-top:147px;width:112px;height:24px}
.s98{position:absolute;z-index:2;left:0px;margin-left:343px;margin-top:106px;width:127px;height:12px}
.s99{line-height:150%;}
.s100{margin-top:6.0pt;margin-right:10.2pt;margin-bottom:6.0pt;margin-left:24.0pt;text-align:justify;text-justify:inter-ideograph;text-indent:-24.0pt;line-height:150%}
.s101{margin-top:6.0pt;margin-right:10.2pt;margin-bottom:6.0pt;margin-left:60.0pt;text-align:justify;text-justify:inter-ideograph;text-indent:-24.0pt;line-height:150%}
.s102{margin-top:6.0pt;margin-right:10.2pt;margin-bottom:6.0pt;margin-left:60.0pt;text-align:justify;text-justify:inter-ideograph;line-height:150%}
.s103{margin-top:6.0pt;margin-right:10.2pt;margin-bottom:6.0pt;margin-left:36.0pt;text-align:justify;text-justify:inter-ideograph;line-height:150%}
.s104{margin-top:6.0pt;margin-right:10.2pt;margin-bottom:6.0pt;margin-left:33.8pt;text-align:justify;text-justify:inter-ideograph;text-indent:-33.8pt;line-height:150%}
.s105{margin-top:6.0pt;margin-right:10.2pt;margin-bottom:6.0pt;margin-left:33.8pt;text-align:justify;text-justify:inter-ideograph;line-height:150%}
.s106{margin-left:9.85pt;text-align:center;line-height:150%}
.s107{color:black}
.s108{margin-left:24.0pt;text-align:center;line-height:150%}
.s109{margin-top:6.0pt;margin-right:10.2pt;margin-bottom:6.0pt;margin-left:72.0pt;text-align:justify;text-justify:inter-ideograph;text-indent:-24.0pt}
.s111{margin-left:60.0pt;text-align:center;line-height:150%}
.s113{margin-left:26.15pt;line-height:150%}
.s114{margin-left:26.15pt;text-align:center;line-height:150%}
.s115{margin-left:50.15pt;text-align:center;line-height:150%}
.s116{line-height:150%;}
.s117{margin-left:2.15pt;text-align:center;line-height:150%}
.MsoNormalCxSpFirst, .MsoNormalCxSpMiddle, .MsoNormalCxSpLast {
    margin-top:0; margin-bottom:0; }