<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="lib/yui-cssreset-min.css">
<link rel="stylesheet" type="text/css" href="lib/yui-cssfonts-min.css">
<link rel="stylesheet" type="text/css" href="css/OSC_layout.css">
<title>Openfind P-Marker</title>
<style>
body, html {
	background-color:fff;
	height:100%;
	color:#666;
}
#header {
	padding-top:5px;
	height:53px;
	position:relative;
	z-index:1;
	background-color:#FAFEF1;
}
#header .logo {
	display:inline-block;
	width:300px;
	height:43px;
	margin-left:8px;
	background:url(images/logo.png) center no-repeat;
}
#content {
	padding:15px;
}
#appbox {
	margin: 20px auto;
	padding: 20px;
	padding-top:65px;
	width: 926px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: #333;
	text-decoration: none;
	border: #D4DED6 1px solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
	position:relative;
}
#appbox .title {
	background:url(images/error.gif) left no-repeat;
	line-height:45px;
	height:45px;
	padding-left:45px;
	color:#D2333E;
	font-weight:bold;
	font-size:24px;
	display:block;
	white-space:nowrap;
	vertical-align:middle;
	left:42%;
	top:20px;
	position:absolute;
}
#appbox .content {
	margin-top:10px;
	padding-bottom:20px;
}
</style>
</head>

<body>
<div id="header"><span class="logo"></span></div>
<div id="content">
  <div id="appbox">
    <span class="title">錯誤!&nbsp;&nbsp;代碼：$$err_code$$</span>
    <!--<div class="content">
      請您重新執行 Email 認證步驟。<br>按下「重寄認證信」系統將重寄驗証信至 xx@xxx.comxxx 信箱
    </div>-->
  </div>
</div>
</body>
</html>
