body{font-family:Verdana,Lucida Grande,Lucida Sans,Arial,sans-serif;font-size:12pt;}
img{border:0px;}
.ui-widget{font-family:Verdana,Lucida Grande,Lucida Sans,Arial,sans-serif;}
.ui-layout-center,.ui-layout-west{padding:0;overflow:hidden;font-weight:normal;}
.ui-layout-center{overflow-x:auto;overflow-y:auto;}
.ui-accordion .ui-accordion-content{padding:10px;}
#ajaxContentHolder{margin:10px 15px 10px 15px;}
#breadcrumbs{font-family:Tahoma;margin:10px 15px 0px 15px;padding:5px 5px 5px 5px;background-color:#f8f8f8;}
#breadcrumbs a:hover{text-decoration:underline;}
#copyright{font-style:italic;font-size:0.8em;text-align:right;}
.highlight{background-color:yellow;font-weight:bold;}
.logo{margin-left:0px; width:31px !important; height:31px !important;}
.documentTitle{position:absolute;left:45px;bottom:20px;font-size:1.3em;}
.captionButtonPanel{position:absolute;bottom:6px;right:10px;}
.reltophead{font-weight:bold;padding-top:18px;padding-bottom:10px;border-bottom:1px solid #cccccc;}
.reltopitem{line-height:150%;margin-left:24px;}
.reltopitem a:link,.reltopitem a:visited{text-decoration:none;color:#0060B5;}
.reltopitem a:hover{text-decoration:underline;}


.ui-state-hover .ui-icon, .ui-state-focus .ui-icon,
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited,
.ui-state-active .ui-icon,
.ui-state-default .ui-icon,
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
	vertical-align:middle;
	display:inline-block;
}